<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Inventory Service Assertions Test Suite" verbose="2" thread-count="1">
    <test name="Inventory Service Assertions Tests">
        <classes>
            <class name="com.inventory.inventory.assertions.InventoryServiceAssertionsTest" />
        </classes>
    </test>
</suite>

